body {
    background-color: #eee;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

#container {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
}

#content {
    padding: 10px;
}

/* Navigation Styles */
#nav {
    width: 10%;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bold;
}

#main {
    width: 90%;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: #ffffff;
    text-align: right;
}